In [1]:
import pandas as pd
import string

#### Split the column and change the name of the new columns

In [2]:
df = pd.read_csv('../3.csv_raw/C6_megahit_kaiju.taxonpaths_copy.csv', header = None)

In [3]:
df.head(3)

                                                   0
0  77315\troot\tcellular organisms\tBacteria\tAci...
1  51168\troot\tcellular organisms\tBacteria\tPVC...
2  38786\troot\tcellular organisms\tBacteria\tAci...

In [4]:
df = df[0].str.split('\t', expand=True)
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,77315,root,cellular organisms,Bacteria,Acidobacteria,Solibacteres,Solibacterales,Solibacteraceae,Candidatus Solibacter,Candidatus Solibacter usitatus,...,None,None,None,None,None,None,None,None,None,None
1,51168,root,cellular organisms,Bacteria,PVC group,Verrucomicrobia,Verrucomicrobiae,Verrucomicrobiales,Verrucomicrobia subdivision 3,Pedosphaera,...,None,None,None,None,None,None,None,None,None,None
2,38786,root,cellular organisms,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae,unclassified Acidobacteriaceae,Acidobacteriaceae bacterium URHE0068,...,None,None,None,None,None,None,None,None,None,None

In [5]:
labels = df.columns.values.tolist()
labels

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [6]:
print(list(string.ascii_lowercase))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [7]:
df.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k','l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v']
df.head(3)

,a,b,c,d,e,f,g,h,i,j,...,m,n,o,p,q,r,s,t,u,v
0,77315,root,cellular organisms,Bacteria,Acidobacteria,Solibacteres,Solibacterales,Solibacteraceae,Candidatus Solibacter,Candidatus Solibacter usitatus,...,None,None,None,None,None,None,None,None,None,None
1,51168,root,cellular organisms,Bacteria,PVC group,Verrucomicrobia,Verrucomicrobiae,Verrucomicrobiales,Verrucomicrobia subdivision 3,Pedosphaera,...,None,None,None,None,None,None,None,None,None,None
2,38786,root,cellular organisms,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae,unclassified Acidobacteriaceae,Acidobacteriaceae bacterium URHE0068,...,None,None,None,None,None,None,None,None,None,None

In [8]:
df.shape

(20644, 22)

### Save the modified dataframe into a new csv file

In [9]:
"""Save the generated dataframe into a new csv file, remember to change the file name"""

'Save the generated dataframe into a new csv file, remember to change the file name'

In [10]:
df.to_csv('../4.Dataframe_AllColumn/C6_megahit_taxon.csv', index = False)

In [11]:
# Load the new dataframe and verify it
df = pd.read_csv('../4.Dataframe_AllColumn/C6_megahit_taxon.csv')

In [12]:
df.head(3)

,a,b,c,d,e,f,g,h,i,j,...,m,n,o,p,q,r,s,t,u,v
0,77315,root,cellular organisms,Bacteria,Acidobacteria,Solibacteres,Solibacterales,Solibacteraceae,Candidatus Solibacter,Candidatus Solibacter usitatus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51168,root,cellular organisms,Bacteria,PVC group,Verrucomicrobia,Verrucomicrobiae,Verrucomicrobiales,Verrucomicrobia subdivision 3,Pedosphaera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,38786,root,cellular organisms,Bacteria,Acidobacteria,Acidobacteriia,Acidobacteriales,Acidobacteriaceae,unclassified Acidobacteriaceae,Acidobacteriaceae bacterium URHE0068,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
print(list(df.dtypes))

[dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]