In [1]:
import pandas as pd

### Open and check the dataframes

In [2]:
df1 = pd.read_csv('../3.csv_raw/A3R1_kaiju.taxonpaths_copy.csv', header = None)
df2 = pd.read_csv('../3.csv_raw/A3R2_kaiju.taxonpaths_copy.csv', header = None)

In [3]:
df1.head(2)

                                                   0
0         494478\troot\tcellular organisms\tBacteria
1  469952\troot\tcellular organisms\tBacteria\tAc...

In [4]:
df1.columns = ['a']
df2.columns = ['a']

In [5]:
df1.head(2)

                                                   a
0         494478\troot\tcellular organisms\tBacteria
1  469952\troot\tcellular organisms\tBacteria\tAc...

In [6]:
df1['Taxa'] = df1['a'].str.extract('(\D+)')
df1['R1_Abundance'] = df1['a'].str.extract('(\d+)')

df2['Taxa'] = df2['a'].str.extract('(\D+)')
df2['R2_Abundance'] = df2['a'].str.extract('(\d+)')

In [7]:
df1 = df1.drop(['a'], axis=1)
df2 = df2.drop(['a'], axis=1)

df1.head(2)

                                                Taxa R1_Abundance
0               \troot\tcellular organisms\tBacteria       494478
1  \troot\tcellular organisms\tBacteria\tAcidobac...       469952

In [8]:
print('df1 shape: ',df1.shape,'\n','df2 shape: ',df2.shape)

df1 shape:  (31501, 2)
 df2 shape:  (31678, 2)

### Merge the dataframes and save

In [9]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
# https://www.geeksforgeeks.org/how-to-join-pandas-dataframes-using-merge/
# https://stackoverflow.com/questions/43537370/pandas-join-two-dataframes-on-semi-overlapping-column

In [10]:
r1r2 = pd.merge(df1, df2, how ='outer', on ='Taxa')

In [11]:
"""SAVE THE NEW DF, CHANGE THE FILE NAME"""
r1r2.to_csv('../5.JoinedReads/A3r1r2_MergedOuter_TaxaOneCol.csv',index = False)

### Split the taxa column into separate columns for further processing (e.g. filtering):

In [12]:
# Load the dataframe
r1r2 = pd.read_csv('../5.JoinedReads/A3r1r2_MergedOuter_TaxaOneCol.csv')
r1r2.head(2)

,Taxa,R1_Abundance,R2_Abundance
0,\troot\tcellular organisms\tBacteria,494478.0,489467.0
1,\troot\tcellular organisms\tBacteria\tAcidobac...,469952.0,443018.0

In [13]:
print(r1r2.columns.values.tolist())

['Taxa', 'R1_Abundance', 'R2_Abundance']

In [14]:
#print(list(string.ascii_lowercase))

In [15]:
cols = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v']
new_cols = r1r2.Taxa.str.split('\t', expand = True)
for i, j in enumerate(cols):
    r1r2[j] = new_cols[i]
#Check: https://stackoverflow.com/questions/43330815/how-to-breaking-up-a-string-into-columns-in-pandas

In [16]:
r1r2.head(2)

,Taxa,R1_Abundance,R2_Abundance,a,b,c,d,e,f,g,...,m,n,o,p,q,r,s,t,u,v
0,\troot\tcellular organisms\tBacteria,494478.0,489467.0,,root,cellular organisms,Bacteria,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,\troot\tcellular organisms\tBacteria\tAcidobac...,469952.0,443018.0,,root,cellular organisms,Bacteria,Acidobacteria,Solibacteres,Solibacterales,...,None,None,None,None,None,None,None,None,None,None

In [17]:
del r1r2['Taxa']

In [18]:
print(r1r2.columns.values.tolist())

['R1_Abundance', 'R2_Abundance', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v']

In [19]:
#Change the column order
r1r2 = r1r2[['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v','R1_Abundance', 'R2_Abundance']]
r1r2.head(2)

,a,b,c,d,e,f,g,h,i,j,...,o,p,q,r,s,t,u,v,R1_Abundance,R2_Abundance
0,,root,cellular organisms,Bacteria,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,494478.0,489467.0
1,,root,cellular organisms,Bacteria,Acidobacteria,Solibacteres,Solibacterales,Solibacteraceae,Candidatus Solibacter,Candidatus Solibacter usitatus,...,None,None,None,None,None,None,None,None,469952.0,443018.0

In [20]:
print(list(r1r2.dtypes))

[dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64')]

In [21]:
"""SAVE THE NEW DF, CHANGE THE FILE NAME"""
r1r2.to_csv('../5.JoinedReads/A3r1r2_MergedOuter_TaxaMultiCol.csv',index = False)

In [23]:
#Load the dataframe and check it
r1r2 = pd.read_csv('../5.JoinedReads/A3r1r2_MergedOuter_TaxaMultiCol.csv')
r1r2.tail(3)

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (0,13,14,15,16,17,18,19,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,a,b,c,d,e,f,g,h,i,j,...,o,p,q,r,s,t,u,v,R1_Abundance,R2_Abundance
248800,NaN,root,Viruses,Retro-transcribing viruses,Caulimoviridae,Badnavirus,unclassified Badnavirus,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
248801,NaN,root,Viruses,Retro-transcribing viruses,Caulimoviridae,Badnavirus,Canna yellow mottle virus,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
248802,NaN,root,Viruses,Retro-transcribing viruses,Caulimoviridae,Badnavirus,Banana streak MY virus,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0